{:paths ["src" "resources"]
 :deps  {org.clojure/clojure            {:mvn/version "1.10.2"}
         clj-commons/clj-yaml           {:mvn/version "0.7.0"}
         cheshire/cheshire              {:mvn/version "5.8.1"}
         com.sun.xml.bind/jaxb-core     {:mvn/version "2.3.0.1"}
         com.sun.xml.bind/jaxb-impl     {:mvn/version "2.3.2"}
         http-kit/http-kit              {:mvn/version "2.4.0-alpha3"}
         route-map/route-map            {:mvn/version "0.0.7-RC4"}
         ring/ring                      {:mvn/version "1.7.1"}
         ring/ring-defaults             {:mvn/version "0.3.2"}
         zprint/zprint                  {:mvn/version "0.4.16"}
         hiccup/hiccup                  {:mvn/version "1.0.5"}
         garden/garden                  {:mvn/version "1.3.9"}
         json-schema/json-schema        {:mvn/version "0.2.0-RC10"}

         org.apache.commons/commons-compress {:mvn/version "1.20"}

         com.atlassian.commonmark/commonmark {:mvn/version "0.15.0"}
         com.atlassian.commonmark/commonmark-ext-gfm-tables {:mvn/version "0.15.0"}
         org.clojure/data.csv {:mvn/version "0.1.4"}
         ;; support for java 11+
         org.clojure/core.rrb-vector {:mvn/version "0.0.14"}
         funcool/promesa              {:mvn/version "4.0.0"}}

 :aliases
 {:nrepl      {:extra-paths ["env/dev" "test"]
               :extra-deps  {spieden/spyscope              {:mvn/version "0.1.7"} ;; newer version without bugs (fork)
                             org.clojure/clojure           {:mvn/version "1.10.2"}
                             nrepl/nrepl                   {:mvn/version "0.8.3"}
                             cider/cider-nrepl             {:mvn/version "0.25.5"}
                             refactor-nrepl/refactor-nrepl {:mvn/version "2.5.0"}}
               :jvm-opts    ^:replace ["-XX:-OmitStackTraceInFastThrow"]}

  :test         {:extra-paths ["test"]
                 :extra-deps {healthsamurai/matcho         {:mvn/version "0.3.3"}}}

  :runner       {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                                         :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                 :jvm-opts   ^:replace ["-XX:-OmitStackTraceInFastThrow"]
                 :main-opts ["-m" "cognitect.test-runner"]}

  :build {:extra-paths ["env/build"]
          :jvm-opts    ^:replace ["-XX:-OmitStackTraceInFastThrow"]
          :extra-deps  {cambada/cambada {:git/url "https://github.com/HealthSamurai/cambada"
                                         :sha     "e44a0bebd039285f3e10f15f5703d6eaf92672c7"}}
          :main-opts   ["-m" "build"]}}}
